<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-outline-secondary">Logout</a>
<a href="/users/u" class="btn btn-outline-secondary">all users</a>